/*-------------------------Start of the welcome massage styles----------------------------------*/

.top-info {
    padding: 20px 20px 30px 20px;
    margin: 0;
    max-height: 75px;
}


/*Giving special font properties to the word Welcome*/

.heighlight {
    font-family: 'Roboto', sans-serif;
    color: #73879c;
    font-size: 24px;
    font-weight: 500;
    margin-right: 8px;
}


/* Giving styles to the h1 quote in the top*/

.top-info h1 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #777777;
    display: inline;
}
.panel{
    color: #fff;
}
.panel-green{
    background: #66C761;
    
}
.panel-green span{
    color: #66C761;
}
.panel-green span:hover{
    color: #41aa3c;
}
.panel-yellow{
    background: #ECAB55;
}
.panel-yellow span{
    color: #ECAB55;
}
.panel-yellow span:hover{
    color: #e68d19;
}
.panel-red{
    background: #D24353;
}
.panel-red span{
    color: #D24353;
}
.panel-red span:hover{
    color:  #902330;
}
.panel-heading .fa {
    color: #fff;
}