.footer {
    background: #fff;
    left: 230px;
    padding: 20px 0;
    position: fixed;
    bottom: -20px;
    right: 0;
    text-align: center;
}

.footer p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.footer span {
    color: chocolate;
}
