/* Start of the body styles*/
html{
    background: #F7F7F7;
}
.books-body {
    margin-left: 230px;
    background: #F7F7F7;
    padding-bottom: 30px;
}


/* The row class has margin so we have to reset that shit */

.row {
    margin: 0;
}


/* Col-lg-12 class has a right padding so we have to reset that shit*/

.col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}


/* We must also reset the padding in the container class */

.container-fluid {
    padding-right: 0px;
  
}


/*-------------------------------End Body Styles-----------------------------------------------*/


/* Start of the Navigation styles "header" */

.navbar {
    padding: 0;
    background: #EDEDED;
    box-shadow: 1px 1.5px 0px rgba(217, 222, 228, 0.7);
    border: none;
    margin: 0px;
    height: 30px;
    overflow: visible;
}


/* set the minimum height of the navigation to 45px */

nav.navbar {
    min-height: 45px;
    border-radius: 0;
}


/* this is only the logo " sawirka yar oo kalita maha qoralka " styles */

#header_logo {
    width: 55px;
    height: 38px;
    margin-top: 3px;
    margin-left: 15px;
    padding: 0px;
}


/* this is only the text " Somaliland National Library " styles */

.header-text {
    width: 300px;
    height: 15px;
    margin-top: 10px;
}


/* A Hover style for the library logo that gives it a light blue outer glow*/

.shadowfilter {
    -webkit-filter: drop-shadow(0px 0px 0px rgba(34, 35, 38, 0.80));
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.shadowfilter:hover {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}


/* This class combines the logo and the next*/

.navbar-brand {
    padding: 0;
}


/* Becouse the two parts of this logo the image of logo and image of text are block elements make them inline elements */

.navbar-brand>img {
    display: inline;
}


/*-------------------------------End of the Logo part of navigation-----------------------------*/


/* the un order list of the user navigation link padding reset styles */

.nav-pills>li>a {
    padding: 0px;
}


/* Profile image of the user styles */

.user-image {
    width: 31px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


/* The even of when the client hovers on the profile image */

.user-image:hover {
    opacity: .7;
}


/* the user information "user fullname" styles */

.user-info {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #515356;
}


/* what happens when client hovers on user hovers on the user name*/

.user-info:hover {
    cursor: pointer;
    color: #777;
}


/*  when the windows is just active and didnt get click on or hovered on */

.user-info:active {
    cursor: pointer;
    color: #777;
}


/* What happens when when you click outside of the window */

.user-info:focus {
    cursor: pointer;
    color: #555;
}


/* style for the profile picture and the user name that gives it a border in left */

.profile-header {
    padding: 10px 20px 5px 20px;
    border-left: 1px solid rgba(210, 220, 220, 0.9);
}


/*--------------------End Styles for the user link----------------------------------------------*/

.logout{
    padding-top: 13px;
    padding-bottom: 13px;
}
.logout a{
    color: #555;
}
/* the log out icon in the dropdown style that pushes the icon away from the text*/




/*--------------------------End Styles of the dropdown------------------------------------------*/
